/* Your custom CSS code */
.login-page.sign-in.loaded {
    /*
    background: #8E2DE2;  /
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    */

    background: #454d6b;
}
.primary {
    background-color: #454d6b!important;
}
.btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #eb906d!important;
}
